@import "mixin/mixins";
@import "variables/variables";

@include font-face(ProximaNova,fonts/ProximaNova-Regular,normal,normal);
@include font-face(Times,fonts/Times-Roman,normal,normal);
@include font-face(Times,fonts/Times-Italic,normal,italic);
@include font-face(Times,fonts/Times-Bold,bold,normal);
@include font-face(Times,fonts/Times-BoldItalic,bold,italic);

body{
	font-family: $body-font;
	font-size: $body-fontsize;
	font-style: $font-styleItalic;
	color: $primary-color;
	line-height: 1.5;
	letter-spacing: 1px;
}
@include linx ($primary-color, $primary-color, $primary-color, $primary-color);
ul{
	margin: 0;
	padding: 0;
}

h3{
	font-size: 20px;
    font-style: $font-styleNormal;
    letter-spacing: 15px;
}
.h3 {
    @extend h3;
 }
h4{
	font-family: $body-font;
	font-size: 16px;
	font-style: $font-styleNormal;
	text-transform: uppercase;
	margin: 25px 0;
	letter-spacing: 4px;
	
}
.btn-default{
	background-color: transparent;
	font-family: $proxima;
	font-style: $font-styleNormal;
	color: $primary-color;
	border: 1px solid;
    border-radius: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 210px;
	padding: 8px 12px;
	
	&:hover{
		background-color: transparent;	
		border: 1px solid;
		color: $primary-color;
	}	
}
.link-button{
	@extend .btn-default;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 40px;
}
.form-control{
	font-family: $proxima;
	font-style: $font-styleNormal;
	color: $primary-color;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.form-control{
	&::-moz-placeholder{
	color: $primary-color;
	}
	&:focus{
		box-shadow: none;
	}
}

.container{
	max-width: 1020px;
	margin: 0 auto;
}
.price{
	font-family: $proxima;
	font-style: $font-styleNormal;
	font-size: 15px;
}
.flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.row{
	&.no-gutter {
	  margin-left: 0;
	  margin-right: 0;
	}
}
.navbar{
	line-height: 40px;
}
.row.no-gutter > [class*='col-'],
.row.no-gutter > [class*='col-']{
  padding-right: 0;
  padding-left: 0;
}
#header{
	.top-navbar{
		background-color: $first-bgcolor;
		width: 100%;
		position: relative;
	ul{
		display: block;
		text-align: center;
	li{
		display: inline-block;
		margin-right: 75px;
		line-height: 40px;
	a{
		font-family: $proxima; 
		font-size: $header-fontSize;
		font-style: $font-styleNormal;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	 }
	}	
	}
	 .cart{
		position: absolute;
		right: 25px;
		top: 0;
		line-height: 40px;
		font-style: $font-styleNormal;
	 }  
	}
	.logo{
		line-height: 130px;
		text-align: center;
		position: relative;
		padding-top: 40px;
	.social-icons {
		line-height: 130px;
		position: absolute;
		top: 60px;
		left: 30px;
	 li{
		line-height: 15px;
		list-style: none;
	 a{
		color: $primary-color;
		text-decoration: none;
		position: absolute;
		text-indent: -9999px;
		font-style: $font-styleNormal;
		outline: 0;
   }	 
  }
  li.facebook a:before{
		content: "\f09a";
		font-family: fontawesome;
		left: 0;
		position: absolute;
		text-indent: 0;
		top: 0;
	 }
  li.twitter a:before{
	content: "\f099";
	font-family: fontawesome;
	left: -2px;
	position: absolute;
	text-indent: 0;
	top: 60px;
 }
  li.instagram a:before{
	content: "\f16d";
	font-family: fontawesome;
	left: -2px;
	position: absolute;
	text-indent: 0;
	top: 30px;
 }
	}	 
	}
	
} 
.main-container{
	.banner{
		min-height: 530px;
		position: relative;
		background-size: cover !important;
	.banner-overlay {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 20%;
	h3{
		margin-bottom: 20px;
	}
	 .sub-heading{
		font-family: $proxima;
		font-size: 16px;
		letter-spacing: 8px;
		font-style: $font-styleNormal;
		padding: 15px 0 35px 0;
	 }	
	}
	}
 .featured-products{
	padding-top: 85px;
	img{
		max-width: 100%;
	}
	.latest-text {
		min-height: 343px;
		text-align: center;
		align-items: center;
		display: flex;
		justify-content: center;
	p{
		margin-top: 20px;
	}
	}
	.product-details{
		h4{
			margin: 0;
			padding: 15px 0 10px 0;
			font-style: $font-styleItalic;
		}
	}
  .image{
	  img{
		width: 100%;
	  }
  }		
 }		
}
.latest-blog{
	padding-top: 60px;
	text-align: center;
	.blog-first-col{
		min-height: 430px;
		background-color: $third-bgcolor;
	h4{
		margin: 0;
		padding: 25px 0;
	}
	}
	.blog-img{
		background-size: cover !important;
		min-height: 430px;
	} 
}
// Pages
.page{
	.banner{
		min-height: 340px;
	}
	.page-container{
		padding-bottom: 100px;
	.page-title{
		padding: 130px 0;
		margin: 0;
		display: inline-block;
	}
	.rectangle-image{
		padding-left: 25px;
		margin-top: -5px;
	}
	img{
		max-width: 100%;
	}
	.page-content{
		
	p{
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 35px;
		padding-top: 15px;
	}
   }
   .about {
		.page-content{
			text-align: center;
			padding: 35px 0 0 65px;
		p{
			margin-bottom: 25px;
			}
		}
	}
	.privacy-policy{
		font-size: 15px;
		line-height: 1.9;
	 .page-content{
		margin-top: -10px;
	}	
	}
  }
  .privacy{
	padding-bottom: 0;
  }
  .faq-page{
	padding-bottom: 0;
	line-height: 1.9;
	.page-title{
		padding: 85px 0;
	}
	 .page-content{
		margin-top: -20px;
	 h5{
		text-transform: uppercase;
		font-family: $proxima;
		font-style: $font-styleNormal;
		letter-spacing: 4px;
		margin: 0;
		padding: 10px 0;
	 }	
	}	
  }
  .contact-grid{
	@include bg-gradient(#ffffff,#fafafa);
	  .page-content{
		padding: 60px 0 0 65px;
		p{
			margin-bottom: 45px;
		}
		.navbar-form{
			padding: 0;
		.form-control{
			width: 100%;
			margin-bottom: 25px;
			resize: none;
		}
		.btn-default{
			margin-top: 25px;
			float: right;
		}
	}
  }
  }
}

// lookbook
.lookbook-page{
	.page-container{
		padding-bottom: 0;
	}
	.lookbook-listing{
		margin-top: -12px;
	}
	.col-md-6{
		padding-top: 12px;
		padding-bottom: 12px;
		box-sizing: border-box;
	.lookbook-grid{
		position: relative;
		overflow: hidden;
	.rollover-container{
		background: rgba(255,255,255,0.9);
		position: absolute;
		left: 0;
		top: 100%;
		text-align: center;
		width: 100%;
		height: 100%;
		transition: all 0.5s ease;
	 .rollover-content{
			font-family: $proxima;
			font-style: $font-styleNormal;
			letter-spacing: 6px;
		h4{
			font-size: 17px;
			margin: 0 0 40px 0; 
		}
		p{
			margin-bottom: 40px;
	   }
	   .link-button{
		   margin-top: 45px;
	   }
	 }
	}	
   &:hover {
	   .rollover-container{
		   top: 0;
		   transition: all 0.5s ease;
	   }
   }
   }	
  }
  &.page{
	 .page-title{
		padding: 115px 0;
	}
  }
 }

 // Service page
 .services-page{
	 .page-container{
		padding-bottom: 50px;
	}
	 .services-listing{
		  background: #fafafa;
	 }
	 .col-md-6{
		&:first-child{
			padding-right: 0;
		}
		&:last-child{
			padding-left: 0;
		}
		.services-grid {
			min-height: 430px;
			padding: 0 60px;
			text-align: center;
		 .service-text{
		 h4{
			margin: 0 0 60px 0;	
		 }
		} 
	   }
	  }
	  &.page{
		 .page-title{
			padding: 130px 0;
		}
	  }
	 }
.blog-page{
.grid-sizer,.grid-item--width2 { 
		width: 16.667%; 
	}
	.grid-item--width4{
		width: 33.333%;
		margin-bottom: 25px;
		padding-right: 25px;
		
	}
	.grid-item--width6{
		width: 50%;
		margin-bottom: 25px;
		padding-right: 25px;
		
	}
	.grid-item--width8{
		width: 66.667%;
		margin-bottom: 25px;
		padding-right: 25px;
		
	}
}


// Footer 
#footer{
	.follow{
		padding-top: 110px;
		text-align: center;
	.socials a{
		margin-right: 20px;
	}
	.socials a:last-child{
		margin-right: 0;
	}
	h4{
		margin: 35px 0;
	}
	}
	.footer-menus{
		line-height: 118px;
	ul{
		display: block;
		text-align: center;
	li{
		display: inline-block;
		margin: 0 30px;
		line-height: 40px;
		position: relative;
	&:last-child{
	  &:after{
		 content: "";
	 }
	}	
	&:after{
		content: "/";
		position: absolute;
		right: -30px;	
		}
	a{
		font-family: $proxima; 
		font-size: $header-fontSize;
		font-style: $font-styleNormal;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	 }
	}	
	}
	}
	.subscribe{
		padding: 50px 0;
		background-color: $second-bgcolor;
	h4{
		margin-top: 0;
	}
	p{
		margin-bottom: 25px;
	}
	.navbar-form{
		margin: 0;
		
	.form-group{
		margin-bottom: 25px;
		display: block;
	}
	.form-control{
		width: 220px;
	
	&:first-child{
		margin-right: 8px;
	}
   }
  }
 }
	.copyright{
		background-color: $first-bgcolor;
		width: 100%;
		text-align: center;
		line-height: 40px;
		letter-spacing: 1px;
		p{
			margin-bottom: 0;
		}
	}
}







