$body-font: Times;
$proxima: ProximaNova;
$primary-color: #000000;
$first-bgcolor: #ebebeb;
$second-bgcolor: #f3f3f3;
$third-bgcolor: #f4f4f4;
$body-fontsize: 14px;
$font-styleItalic: italic;
$font-styleNormal: normal;
$header-fontSize: 12px;